.labels {
  text-transform: capitalize;
}

.botaoPaginas {
  display: flex;
  gap: 5px;
}

.imgUsuario {
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
}

.sucesso {
  color: green;
}

.erro {
  color: red;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formularioContainer {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
}

@media screen and (min-width: 760px) {
  .formularioContainer {
    width: 40%;
  }
}

@media screen and (max-width: 720px) {
  .fonteBotao12 {
    font-size: 12px;
  }

  .fonteUsuarioNome {
    font-size: 12px;
  }

  .botaoPaginas {
    display: none;
  }

  .divPaiFiltro {
    flex-direction: column !important;
  }

  .divFilhaFiltro {
    width: 100%;
  }
}
